{
  "openapi": "3.0.3",
  "info": {
    "version": "latest",
    "description": "# Introduction\n\nThe NVIDIA Run:ai Control-Plane API reference is a guide that provides an easy-to-use programming interface for adding various tasks to your application, including workload submission, resource management, and administrative operations.\n\nNVIDIA Run:ai APIs are accessed using *bearer tokens*. To obtain a token, you need to create a **Service account** through the NVIDIA Run:ai user interface.\nTo create a service account, in your UI, go to Access → Service Accounts (for organization-level service accounts) or User settings → Access Keys (for user access keys), and create a new one.\n\nAfter you have created a new service account, you will need to assign it access rules.\nTo assign access rules to the service account, see [Create access rules](https://run-ai-docs.nvidia.com/saas/infrastructure-setup/authentication/accessrules#create-or-delete-rules).\nMake sure you assign the correct rules to your service account. Use the [Roles](https://run-ai-docs.nvidia.com/saas/infrastructure-setup/authentication/roles) to assign the correct access rules.\n\nTo get your access token, follow the instructions in [Request a token](https://run-ai-docs.nvidia.com/saas/reference/api/rest-auth/#request-an-api-token).\n",
    "title": "NVIDIA Run:ai",
    "x-logo": {
      "url": "https://api.redocly.com/registry/raw/runai-xq8/saas/latest/public/runai-logo-api.png",
      "altText": "NVIDIA Run:ai",
      "href": "https://run.ai"
    },
    "license": {
      "name": "NVIDIA Run:ai",
      "url": "https://www.nvidia.com/en-us/agreements/enterprise-software/nvidia-software-license-agreement/"
    }
  },
  "servers": [
    {
      "url": "https://app.run.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Storage Classes",
      "description": "The Storage Classes API retrieves a list of available, pre-defined storage classes in the system."
    },
    {
      "name": "Storage Class Configuration",
      "description": "The storage class configuration API enables administrators to define, manage, and customize how storage classes are used across the NVIDIA Run:ai platform. Through this API, you can configure access modes, volume modes, and claim size restrictions for persistent volume claims (PVCs). These settings help standardize storage behavior, enforce organization-wide policies, and ensure consistent resource allocation across workloads.\n"
    },
    {
      "name": "Policy",
      "description": "Policies allow administrators to impose restrictions and set default values for researcher workloads. \nRestrictions and default values can be placed on CPUs, GPUs, and other resources or entities. \nFor more information, see [Policies](https://run-ai-docs.nvidia.com/saas/platform-management/policies/#introduction).\n"
    },
    {
      "name": "Pods",
      "description": "Retrieve data about workload pods from your NVIDIA Run:ai platform."
    },
    {
      "name": "Workspaces",
      "description": "A Workspace is a simplified tool for researchers to conduct experiments, build AI models, access standard MLOps tools, and collaborate with their peers.\nWorkspaces abstract complex concepts related to running containerized workloads in a Kubernetes environment and are built from predefined setups that include\nnetworking, storage, secrets and other resources. All the setup and configurations for research, including container \nimages, data sets, resource requests, as well as all tools are included. for the research, in a single place. \nIt answers the research needs while ensuring infrastructure owners keep control and allocation efficiency.\nA workspace is associated with a specific NVIDIA Run:ai project and you can have multiple workspaces under a specific project. \nFor more information, see [Workspaces](https://run-ai-docs.nvidia.com/saas/workloads-in-nvidia-run-ai/using-workspaces/running-workspace).\n"
    },
    {
      "name": "Workloads",
      "description": "Workloads are both native platform workloads, Workspaces, Training and Inference, as well as workloads that originate from third-party ML frameworks, tools, or the broader Kubernetes ecosystems. For more details on the supported workloads, see [Introduction to workloads](https://run-ai-docs.nvidia.com/saas/workloads-in-nvidia-run-ai/introduction-to-workloads). Workloads endpoints allow you to list, retrieve, count, and view telemetry or metrics data for all workload types in your environment.\n"
    },
    {
      "name": "Workloads V2",
      "description": "The Workloads V2 API allows you to create, retrieve, and delete workloads that originate from third-party ML frameworks, tools, or the broader Kubernetes ecosystem. These workloads are registered in the platform through the Workload Types API, some are already registered in NVIDIA Run:ai, while others can be added by administrators.\nEach submission combines the user's Kubernetes manifest with NVIDIA Run:ai scheduling metadata, enabling consistent orchestration, monitoring, and governance. See [Extending workload support](https://run-ai-docs.nvidia.com/saas/workloads-in-nvidia-run-ai/workload-types/extending-workload-support) for more details.\n"
    },
    {
      "name": "NVIDIA NIM",
      "description": "The NVIDIA NIM API provides endpoints to create and manage workloads that deploy NVIDIA Inference Microservices (NIM) through the NIM Operator. These workloads package optimized NVIDIA model servers and run as managed services on the NVIDIA Run:ai platform.\nEach request includes NVIDIA Run:ai scheduling metadata (for example, project, priority, and category) and a NIM service specification that defines the container image, compute resources, environment variables, storage, and networking configuration. Once submitted, NVIDIA Run:ai handles scheduling, orchestration, and lifecycle management of the NIM service to ensure reliable and efficient model serving.\n"
    },
    {
      "name": "Workload properties",
      "description": "Workload properties define the behavioral and scheduling characteristics of a workload submitted to the NVIDIA Run:ai platform. These properties such as type, category, and priority determine how workloads are classified, monitored, and scheduled.\n- Type - Defines the functional behavior of a workload, such as training or inference, and serves as the foundation for how it is classified within the platform. Each workload type includes a default category (used for monitoring) and a default priority (used for scheduling within a project).\n- Category - Represents the role or purpose of a workload, such as  Build, Train, Deploy. Each workload type is assigned a default category to ensure consistent classification across the platform for monitoring purposes. See [Monitor workloads by category](https://run-ai-docs.nvidia.com/saas/platform-management/monitor-performance/workload-categories).\n- Priority - Determines the scheduling order of workloads within a project and whether a workload can be preempted. Higher-priority workloads are scheduled first and may become non-preemptible, preventing interruption by lower-priority workloads. See [Workload priority control](https://run-ai-docs.nvidia.com/saas/platform-management/runai-scheduler/scheduling/workload-priority-control).\n"
    },
    {
      "name": "Workload templates",
      "description": "This set of endpoints manages workload templates used to define reusable workload configurations across various workload types in the NVIDIA Run:ai platform. \nTemplates help standardize workload definitions for consistent submission and resource usage across projects and users.\n"
    },
    {
      "name": "Trainings",
      "description": "Trainings are dedicated workloads that are specifically used for training models. \nThey are by design preemptible workloads because they are used in unattended sessions where the  \nscientists and researchers do not need to be present. These workloads are allowed to utilize \nresources over the project's quota.      \n"
    },
    {
      "name": "Distributed",
      "description": "Distributed Training, is the ability to split the training of a model among multiple processors. \nIt is often a necessity when multi-GPU training no longer applies; \ntypically when you require more GPUs than exist on a single node. \nEach such split is a pod (see definition above). NVIDIA Run:ai spawns an additional launcher process that manages and \ncoordinates the other worker pods. For more information, see [Distributed training](https://run-ai-docs.nvidia.com/saas/workloads-in-nvidia-run-ai/using-training/distributed-training/distributed-training-models).\n"
    },
    {
      "name": "Events",
      "description": "Workload events that occurred while the workload was running. Use to diagnose issue around workload scheduling."
    },
    {
      "name": "Inferences",
      "description": "Inference workloads deploy trained models into a production environment to generate predictions from live data. These workloads are prioritized over Trainings and Workspaces during scheduling. NVIDIA Run:ai Inference workloads support auto-scaling to maintain service-level agreements (SLAs) by dynamically adjusting resources as demand changes."
    },
    {
      "name": "Revisions",
      "description": "Revisions are associated with an inference workload and represent a snapshot of its configuration. A revision is created on each change to the inference workload."
    },
    {
      "name": "Distributed Inferences",
      "description": "Distributed inference enables running inference workloads across multiple pods, typically to scale model serving beyond a single container or node. This approach is useful when a single instance cannot meet resource requirements.NVIDIA Run:ai supports this model using Leader Worker Set (LWS). \nEach pod plays a specific role, either as a leader or worker, and together they form a coordinated service. NVIDIA Run:ai manages the orchestration and configuration of these pods to ensure efficient and scalable inference execution\n"
    },
    {
      "name": "Access Keys",
      "description": "Access Keys allow users to authenticate and interact programmatically with the NVIDIA Run:ai API.\nEach access key consists of a client ID and secret that can be used to obtain authentication tokens.\nAccess keys can be managed by individual users for their own use, or by administrators for organization-wide access.\nFor more information, see [Access control](https://run-ai-docs.nvidia.com/saas/infrastructure-setup/authentication/overview/#role-based-access-control).\n"
    },
    {
      "name": "Access rules",
      "description": "Access rules provide user authorization to system resources and entities.\nIt is managed using Role-based access control (RBAC) which is a policy-neutral \naccess control mechanism defined around roles and privileges. \nThe components of RBAC make it simple to manage access to system resources and entities.\nFor more information, see [Access control](https://run-ai-docs.nvidia.com/saas/infrastructure-setup/authentication/overview/#role-based-access-control).\n"
    },
    {
      "name": "Me",
      "description": "\"Me\" returns the authenticated user's permissions within the system. \nIt provides a comprehensive view of access rules (roles, subjects and scope) assigned to the current user.\nFor more information see [Access control](https://run-ai-docs.nvidia.com/saas/infrastructure-setup/authentication/overview/#role-based-access-control).\n"
    },
    {
      "name": "Applications",
      "description": "**DEPRECATED:** Applications have been renamed to Service Accounts. Please use the [Service Accounts](/latest/#tag/Service-Accounts) endpoints instead.\n\nCreate and manage applications in the tenant.\n"
    },
    {
      "name": "Service Accounts",
      "description": "Service accounts enable programmatic access to the NVIDIA Run:ai API, allowing applications or automated systems to authenticate and interact securely. \nEach service account is associated with an access key which includes a client ID and secret used to generate access token. \nService accounts can be managed organization-wide or with a defined scope.\n"
    },
    {
      "name": "Org unit",
      "description": "Org unit."
    },
    {
      "name": "Roles",
      "description": "A role is a group of permissions that can be granted. \nPermissions are a set of actions that can be applied to entities.\nFor more information, see [Roles](https://run-ai-docs.nvidia.com/saas/infrastructure-setup/authentication/roles).\n"
    },
    {
      "name": "Tokens",
      "description": "Use tokens to facilitate authentication to the NVIDIA Run:ai API. \nThe API server must be configured to use the NVIDIA Run:ai identity \nservice to validate authentication tokens.\n"
    },
    {
      "name": "User Applications",
      "description": "**DEPRECATED:** User Applications have been renamed to Access Keys. Please use the [Access Keys](/latest/#tag/Access-Keys) endpoints instead.\n\nUser Applications allow users to authenticate and interact programmatically with the NVIDIA Run:ai API.\n"
    },
    {
      "name": "Settings",
      "description": "View and manage configuration settings for your organization.\n"
    },
    {
      "name": "Tenant",
      "description": "Manage tenant settings."
    },
    {
      "name": "Logo",
      "description": "Use to manage tenant logo files."
    },
    {
      "name": "NodePools",
      "description": "Node pools assist in managing heterogeneous resources effectively. \nA node pool is a set of nodes grouped into a bucket of resources using a predefined (for example, GPU-Type) or \nadministrator-defined label (for example, key & value). \nFor more information, see [Node Pools](https://run-ai-docs.nvidia.com/saas/platform-management/aiinitiatives/resources/node-pools/#introduction).\n"
    },
    {
      "name": "Clusters",
      "description": "Use these endpoints to create, manage and delete NVIDIA Run:ai Kubernetes clusters."
    },
    {
      "name": "Departments",
      "description": "Departments, in the hierarchy of resource allocation, are above Projects. A Department can contain multiple Projects, and has its own quotas. \nA Department's quota supersedes the total of the Project quotas in the Department, so tt is recommended \nthat a Department's quota be the total, or more than of all the Project quotas in the Department. \nFor further information see, [Working with Departments](https://run-ai-docs.nvidia.com/saas/platform-management/aiinitiatives/organization/departments).\n"
    },
    {
      "name": "Projects",
      "description": "Projects implement resource allocation policies and create segregation between \ndifferent initiatives. It can represent a team, an individual, or an initiative that \nshares resources or has a specific resources budget (quota). \nSee [Projects](https://run-ai-docs.nvidia.com/saas/platform-management/aiinitiatives/organization/projects) \nfor more information.\n"
    },
    {
      "name": "Administrator Command Line Interface",
      "description": "Information specific to the Administrator Command Line Interface."
    },
    {
      "name": "Network Topologies",
      "description": "The Network Topologies API enables administrators to reflect the hierarchical network topology connectivity of nodes in a data center, such as racks, blocks, and other organizational units, to improve pod scheduling decisions for communication-intensive AI/ML workloads. To support topology-aware scheduling, this API allows administrators to define a multi-level network topology element using ordered Kubernetes node labels that represent the network connectivity of nodes in the data center. Nodes are labeled with the same key-value pairs labels that represent their location in the data center network. These labels are used by the NVIDIA Run:ai Scheduler to prefer scheduling pods on nodes that are \"closer\" to each other, minimizing communication overhead and optimizing workload performance."
    },
    {
      "name": "AuditLogs",
      "description": "The audit log provides audit trail information for user activity, changes to business objects and other important information. For more information, see [Audit log](https://run-ai-docs.nvidia.com/saas/infrastructure-setup/procedures/event-history)."
    },
    {
      "name": "Nodes",
      "description": "Nodes are worker machines in Kubernetes and may be either a virtual or a physical machine, depending on the cluster. \nEach Node is managed by the NVIDIA Run:ai control plane. For more information, see [Nodes](https://run-ai-docs.nvidia.com/saas/platform-management/aiinitiatives/resources/nodes).\n"
    },
    {
      "name": "Notification State",
      "description": "Use to manage notification state."
    },
    {
      "name": "Notification Types",
      "description": "Use to get notification types."
    },
    {
      "name": "NotificationChannels",
      "description": "Notification Channels are the medium through which notifications are sent."
    },
    {
      "name": "Subscriptions",
      "description": "Use to manage notifications subscriptions."
    },
    {
      "name": "AI Applications",
      "description": "AI Applications."
    },
    {
      "name": "Compute",
      "description": "A compute resource is a building block that represents compute resources such as GPUs, CPU cores, and CPU memory.\nThe compute resources may consist of multiple physical resources, for example, 0.5 GPU, 8 cores and 200 Megabytes of CPU memory. \nA compute resource is available to a scope and and all of the organizational units within that scope. \n      \nFor more information, see [Compute resource](https://run-ai-docs.nvidia.com/saas/workloads-in-nvidia-run-ai/assets/compute-resources).\n"
    },
    {
      "name": "Assets",
      "description": "General cross-assets APIs"
    },
    {
      "name": "Credentials",
      "description": "Credentials are used to unlock protected resources such as applications, containers, and other assets. For more information, see [Credentials](https://run-ai-docs.nvidia.com/saas/workloads-in-nvidia-run-ai/assets/credentials)."
    },
    {
      "name": "Datasources",
      "description": "Data source assets."
    },
    {
      "name": "Environment",
      "description": "An environment resource designates the container image, the image pull policy, working directory, security parameters, and others. \nIt exposes all the necessary tools (open source, 3rd party, or custom tools) along \nwith their connection interfaces including external node port and the container ports.\nYou can also specify a standard, distributed, or inference workload architecture for the environment.\nAn environment is a mandatory building block for the creation of a workload.\nFor more information, see [Environments](https://run-ai-docs.nvidia.com/saas/workloads-in-nvidia-run-ai/assets/environments).\n"
    },
    {
      "name": "Git",
      "description": "Use Git as a data source location for data sets that are relevant to the workload being submitted."
    },
    {
      "name": "HostPath",
      "description": "Use a HostPath as a data source location for data sets that are relevant to the workload being submitted."
    },
    {
      "name": "NFS",
      "description": "Use NFS as a data source location for data sets that are relevant to the workload being submitted."
    },
    {
      "name": "PVC",
      "description": "Use a PVC as a data source location for data sets that are relevant to the workload being submitted."
    },
    {
      "name": "S3",
      "description": "Use an S3 simple storage service as a data source location for data sets that are relevant to the workload being submitted."
    },
    {
      "name": "Template",
      "description": "Templates are a pre-set configuration used to quickly configure and submit workloads using existing assets."
    },
    {
      "name": "Workspace",
      "description": "Specification for workspaces."
    },
    {
      "name": "Training",
      "description": "Specification for trainings."
    },
    {
      "name": "Inference",
      "description": "Specification for inferences."
    },
    {
      "name": "Workload",
      "description": "Specification for workloads."
    },
    {
      "name": "Synchronization",
      "description": "Internal interface for synchronizing assets between the clusters and the control plane."
    },
    {
      "name": "Registry",
      "description": "Use an images registry to enable the listting of repositories and tags that can be used as a data source location for data sets that are relevant to the workload being submitted."
    },
    {
      "name": "ConfigMap",
      "description": "Use a ConfigMap as a data source location for data sets that are relevant to the workload being submitted."
    },
    {
      "name": "Secret",
      "description": "Use a credentials as a data source location for data sets that are relevant to the workload being submitted."
    }
  ],
  "paths": {
    "/api/v1/clusters/{clusterUuid}/nodes": {
      "get": {
        "summary": "Get a list of nodes.",
        "description": "Retrieve a list of nodes from the Kubernetes cluster. Deprecated - use `/api/v1/nodes` instead.",
        "operationId": "get_nodes",
        "deprecated": true,
        "tags": [
          "Nodes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClusterUuid"
          },
          {
            "$ref": "#/components/parameters/QueryNodeName"
          },
          {
            "$ref": "#/components/parameters/NodesFilter"
          },
          {
            "$ref": "#/components/parameters/NodesSortBy"
          },
          {
            "$ref": "#/components/parameters/SortOrder"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Search"
          }
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Nodes"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/clusters/{clusterUuid}/nodes/count": {
      "get": {
        "summary": "Count nodes",
        "operationId": "count_nodes",
        "description": "Count nodes",
        "tags": [
          "Nodes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClusterUuid"
          },
          {
            "$ref": "#/components/parameters/NodesFilter"
          },
          {
            "$ref": "#/components/parameters/Search"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "required": [
                    "count"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/clusters": {
      "get": {
        "summary": "Get a list of clusters.",
        "description": "Retrieve a list of clusters with details.",
        "operationId": "get_clusters",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryVerbosity"
          },
          {
            "$ref": "#/components/parameters/QueryIncludeRequestedForDelete"
          }
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DisplayedCluster"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "post": {
        "summary": "Create a cluster.",
        "description": "Use to create a Kubernetes cluster.",
        "operationId": "create_cluster",
        "tags": [
          "Clusters"
        ],
        "requestBody": {
          "description": "The cluster to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterCreationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisplayedCluster"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/clusters/{clusterUuid}": {
      "get": {
        "summary": "Get cluster by id.",
        "description": "Retrieve cluster details by Universally Unique Identifier (UUID).",
        "operationId": "get_cluster_by_uuid",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClusterUuid"
          },
          {
            "$ref": "#/components/parameters/QueryVerbosity"
          }
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisplayedCluster"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "delete": {
        "summary": "Delete a cluster by id.",
        "description": "Use to delete a cluster by Universally Unique Identifier (UUID). \nWill return 202 for success if this api was called on a cluster that its version is >=2.20, \nand force query param is false or not provided.\nWill return 204 for success if force query param is true, or if cluster is in a version < 2.20\n",
        "operationId": "delete_cluster",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClusterUuid"
          },
          {
            "$ref": "#/components/parameters/QueryForceDelete"
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/202Accepted"
          },
          "204": {
            "$ref": "#/components/responses/204NoContent"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "put": {
        "summary": "Update a cluster by id.",
        "description": "Use to update the details of a Kubernetes cluster by Universally Unique Identifier (UUID).",
        "operationId": "updateCluster",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClusterUuid"
          }
        ],
        "requestBody": {
          "description": "The cluster details to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/204NoContent"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/clusters/{clusterUuid}/metrics": {
      "get": {
        "summary": "Get the cluster metrics data.",
        "description": "Retrieve the metrics data for a Kubernetes cluster by Universally Unique Identifier (UUID).",
        "operationId": "get_cluster_metrics",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClusterUuid"
          },
          {
            "$ref": "#/components/parameters/StartRequired"
          },
          {
            "$ref": "#/components/parameters/EndRequired"
          },
          {
            "$ref": "#/components/parameters/NumberOfSamples"
          },
          {
            "$ref": "#/components/parameters/MetricsType"
          },
          {
            "$ref": "#/components/parameters/ClusterMetricsGroupBy"
          },
          {
            "$ref": "#/components/parameters/FilterByNodepoolName"
          }
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupedMetricsResponse"
                }
              },
              "text/csv": {}
            }
          },
          "207": {
            "description": "Partial success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GroupedMetricsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "422": {
            "$ref": "#/components/responses/422UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/clusters/{clusterUuid}/nodepools/{nodepoolName}/metrics": {
      "get": {
        "summary": "Get the node pool metrics data.",
        "description": "Retrieve the node pool metrics data by Universally Unique Identifier (UUID).",
        "operationId": "get_nodepool_metrics",
        "tags": [
          "NodePools"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClusterUuid"
          },
          {
            "$ref": "#/components/parameters/NodepoolPath"
          },
          {
            "$ref": "#/components/parameters/StartRequired"
          },
          {
            "$ref": "#/components/parameters/EndRequired"
          },
          {
            "$ref": "#/components/parameters/NumberOfSamples"
          },
          {
            "$ref": "#/components/parameters/MetricsType"
          }
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              },
              "text/csv": {}
            }
          },
          "207": {
            "description": "Partial success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/node-pools": {
      "post": {
        "summary": "Create nodepool",
        "operationId": "create_nodepool",
        "description": "Create nodepool",
        "tags": [
          "NodePools"
        ],
        "requestBody": {
          "description": "Nodepool to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodepoolCreateFields"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Nodepool"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "get": {
        "summary": "Get nodepools",
        "operationId": "get_nodepools",
        "description": "Get nodepools",
        "tags": [
          "NodePools"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NodepoolsFilterBy"
          },
          {
            "$ref": "#/components/parameters/NodepoolsSortBy"
          },
          {
            "$ref": "#/components/parameters/SortOrder"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nodepools": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Nodepool"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/node-pools/count": {
      "get": {
        "summary": "Count nodepools",
        "operationId": "count_nodepools",
        "description": "Count nodepools",
        "tags": [
          "NodePools"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NodepoolsFilterBy"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "required": [
                    "count"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/node-pools/{nodepoolId}": {
      "delete": {
        "summary": "Delete nodepool",
        "operationId": "delete_nodepool",
        "description": "Delete nodepool",
        "tags": [
          "NodePools"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NodepoolId"
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/components/responses/202Accepted"
          },
          "204": {
            "$ref": "#/components/responses/204NoContent"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "put": {
        "summary": "Update nodepool",
        "operationId": "update_nodepool",
        "description": "Update nodepool",
        "tags": [
          "NodePools"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NodepoolId"
          }
        ],
        "requestBody": {
          "description": "Nodepool to update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodepoolUpdateFields"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Nodepool"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "patch": {
        "summary": "Patch nodepool fields",
        "operationId": "patch_nodepool",
        "description": "Update only specific fields of a nodepool",
        "tags": [
          "NodePools"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NodepoolId"
          }
        ],
        "requestBody": {
          "description": "Fields to update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodepoolUpdateFields"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Nodepool"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "get": {
        "summary": "Get nodepool",
        "operationId": "get_nodepool",
        "description": "Get nodepool",
        "tags": [
          "NodePools"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NodepoolId"
          }
        ],
        "responses": {
          "200": {
            "description": "Requested nodepool",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Nodepool"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/clusters/{clusterUuid}/cluster-install-info": {
      "get": {
        "summary": "Retrieve the installation instructions of a cluster by ID.",
        "description": "Use to retrieve installation instruction for a cluster by Universally Unique Identifier (UUID). \nSupports clusters version 2.15 or above.\n",
        "operationId": "get_cluster_install_info_by_uuid",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClusterUuid"
          },
          {
            "$ref": "#/components/parameters/ClusterVersion"
          },
          {
            "$ref": "#/components/parameters/ClusterRemoteURL"
          }
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterInstallationInfoResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/nodes": {
      "get": {
        "summary": "Get a list of nodes.",
        "description": "Retrieve a list of nodes from all the Kubernetes clusters of the tenant.",
        "operationId": "get_tenant_nodes",
        "tags": [
          "Nodes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NodesFilter"
          },
          {
            "$ref": "#/components/parameters/NodesSortBy"
          },
          {
            "$ref": "#/components/parameters/SortOrder"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Search"
          }
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Nodes"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/nodes/count": {
      "get": {
        "summary": "Count tenant nodes",
        "operationId": "count_tenant_nodes",
        "description": "Count nodes from all the Kubernetes clusters of the tenant.",
        "tags": [
          "Nodes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NodesFilter"
          },
          {
            "$ref": "#/components/parameters/Search"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int64"
                    }
                  },
                  "required": [
                    "count"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/nodes/telemetry": {
      "get": {
        "summary": "Get node telemetry data.",
        "description": "Retrieve node telemetry data for use in analysis applications.",
        "operationId": "get_node_telemetry",
        "tags": [
          "Nodes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FilterByCluster"
          },
          {
            "$ref": "#/components/parameters/FilterByNodepoolName"
          },
          {
            "$ref": "#/components/parameters/TelemetryGroupBy"
          },
          {
            "$ref": "#/components/parameters/TelemetryType"
          }
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelemetryResponse"
                }
              },
              "text/csv": {}
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/nodes/{nodeId}/metrics": {
      "get": {
        "summary": "Get the node metrics data.",
        "description": "Retrieve the node metrics data by Universally Unique Identifier (UUID).",
        "operationId": "get_node_metrics",
        "tags": [
          "Nodes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NodeId"
          },
          {
            "$ref": "#/components/parameters/NodeMetricTypes"
          },
          {
            "$ref": "#/components/parameters/StartRequired"
          },
          {
            "$ref": "#/components/parameters/EndRequired"
          },
          {
            "$ref": "#/components/parameters/NumberOfSamples"
          }
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              },
              "text/csv": {}
            }
          },
          "207": {
            "description": "Partial success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/network-topologies": {
      "get": {
        "summary": "Get network topologies.",
        "description": "Retrieve a list of network topologies with details.",
        "operationId": "get_network_topologies",
        "tags": [
          "Network Topologies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkTopologiesFilterBy"
          }
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "networkTopologies": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NetworkTopology"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "post": {
        "summary": "Create network topologies",
        "description": "Creates a network topology object based on the provided specification.",
        "operationId": "create_network_topology",
        "tags": [
          "Network Topologies"
        ],
        "requestBody": {
          "description": "The network topology to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NetworkTopologyCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkTopology"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/network-topologies/count": {
      "get": {
        "summary": "Count the amount of network topologies in a tenant.",
        "description": "Retrieve the count of network topologies in a tenant group by selected attributes",
        "operationId": "get_network_topologies_count",
        "tags": [
          "Network Topologies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkTopologiesFilterBy"
          }
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/network-topologies/{networkTopologyId}": {
      "get": {
        "summary": "Get network topology by id.",
        "description": "Retrieve network topology details by Universally Unique Identifier (UUID).",
        "operationId": "get_network_topology_by_id",
        "tags": [
          "Network Topologies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkTopologyId"
          }
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkTopology"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "delete": {
        "summary": "Delete network topology by ID.",
        "description": "Delete an existing network topology by its ID.",
        "operationId": "delete_network_topology",
        "tags": [
          "Network Topologies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/NetworkTopologyId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204NoContent"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/org-unit/priorities": {
      "get": {
        "summary": "Get priorities",
        "operationId": "get_priorities",
        "description": "Get priorities",
        "tags": [
          "Org unit"
        ],
        "responses": {
          "200": {
            "description": "List of all priorities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "priorities": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Priority"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/409Conflict"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/org-unit/reports": {
      "get": {
        "summary": "List reports",
        "operationId": "list_reports",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ReportsFilterBy"
          },
          {
            "$ref": "#/components/parameters/ReportsSortBy"
          },
          {
            "$ref": "#/components/parameters/SortOrder"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Search"
          }
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "reports"
                  ],
                  "properties": {
                    "reports": {
                      "$ref": "#/components/schemas/Reports"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "post": {
        "summary": "Create a new report request.",
        "operationId": "create_report",
        "tags": [
          "Reports"
        ],
        "requestBody": {
          "description": "Report to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportRequestFields"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/org-unit/reports/count": {
      "get": {
        "summary": "Count reports",
        "operationId": "count_reports",
        "tags": [
          "Reports"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ReportsFilterBy"
          },
          {
            "$ref": "#/components/parameters/Search"
          }
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/org-unit/reports/availability": {
      "get": {
        "summary": "Reports availability",
        "operationId": "are_reports_available",
        "tags": [
          "Reports"
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "isAvailable"
                  ],
                  "properties": {
                    "isAvailable": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/org-unit/reports/{reportId}": {
      "get": {
        "summary": "Get report",
        "operationId": "get_report_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/ReportId"
          }
        ],
        "tags": [
          "Reports"
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Report"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "delete": {
        "summary": "Delete report",
        "operationId": "delete_report_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/ReportId"
          }
        ],
        "tags": [
          "Reports"
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204NoContent"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/org-unit/reports/{reportId}/file": {
      "get": {
        "summary": "Download report",
        "operationId": "download_report_by_id",
        "parameters": [
          {
            "$ref": "#/components/parameters/ReportId"
          }
        ],
        "tags": [
          "Reports"
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "text/csv": {}
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/org-unit/departments": {
      "post": {
        "summary": "Create department",
        "operationId": "create_department",
        "description": "Create Department",
        "tags": [
          "Departments"
        ],
        "requestBody": {
          "description": "Department to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepartmentCreationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Department"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/409Conflict"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "get": {
        "summary": "Get departments",
        "operationId": "get_departments",
        "description": "list departments",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DepartmentsFilterBy"
          },
          {
            "$ref": "#/components/parameters/DepartmentsSortBy"
          },
          {
            "$ref": "#/components/parameters/DepartmentsVerbosity"
          },
          {
            "$ref": "#/components/parameters/SortOrder"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "departments"
                  ],
                  "properties": {
                    "departments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DepartmentForList"
                      }
                    },
                    "next": {
                      "type": "integer",
                      "example": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/org-unit/departments/{departmentId}": {
      "put": {
        "summary": "Update department",
        "operationId": "update_department",
        "description": "Update department by Id",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DepartmentId"
          }
        ],
        "requestBody": {
          "description": "Department to update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepartmentUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Department"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "get": {
        "summary": "Get department",
        "operationId": "get_department",
        "description": "Get department by Id",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DepartmentId"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Department"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "delete": {
        "summary": "Delete department",
        "operationId": "delete_department",
        "description": "Delete department by Id",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DepartmentId"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/org-unit/departments/{departmentId}/resources": {
      "put": {
        "summary": "Update department resources",
        "operationId": "update_department_resources",
        "description": "Update department resources by Id",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DepartmentId"
          }
        ],
        "requestBody": {
          "description": "Department resources to update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourcesUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Resources"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "patch": {
        "summary": "Patch department resources",
        "operationId": "patch_department_resources",
        "description": "Partial updates to specific items in the list. Should be used for update one or more attributes of an item without modifying the entire resource.",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DepartmentId"
          }
        ],
        "requestBody": {
          "description": "Department resources to update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourcesUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Resources"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/org-unit/departments/{departmentId}/metrics": {
      "get": {
        "summary": "Get department metrics data.",
        "operationId": "get_department_metrics",
        "description": "Retrieves department data metrics from the metrics database. Use in reporting and analysis tools.",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DepartmentId"
          },
          {
            "$ref": "#/components/parameters/OrgUnitMetricTypes"
          },
          {
            "$ref": "#/components/parameters/StartRequired"
          },
          {
            "$ref": "#/components/parameters/EndRequired"
          },
          {
            "$ref": "#/components/parameters/NumberOfSamples"
          },
          {
            "$ref": "#/components/parameters/FilterByNodepoolName"
          }
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              },
              "text/csv": {}
            }
          },
          "207": {
            "description": "Partial success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/org-unit/departments/telemetry": {
      "get": {
        "summary": "Get departments telemetry",
        "operationId": "get_departments_telemetry",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FilterByCluster"
          },
          {
            "$ref": "#/components/parameters/FilterByNodepoolName"
          },
          {
            "$ref": "#/components/parameters/FilterByDepartment"
          },
          {
            "$ref": "#/components/parameters/TelemetryGroupByDepartment"
          },
          {
            "$ref": "#/components/parameters/TelemetryType1"
          }
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelemetryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/org-unit/departments/count": {
      "get": {
        "summary": "Count departments",
        "operationId": "count_departments",
        "description": "count departments",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DepartmentsFilterBy"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/org-unit/projects": {
      "post": {
        "summary": "Create project",
        "operationId": "create_project",
        "description": "Create a project",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "description": "Project to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCreationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/409Conflict"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "get": {
        "summary": "Get projects",
        "operationId": "get_projects",
        "description": "List projects",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectsFilterBy"
          },
          {
            "$ref": "#/components/parameters/ProjectsSortBy"
          },
          {
            "$ref": "#/components/parameters/SortOrder"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Search"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "projects"
                  ],
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Project"
                      }
                    },
                    "next": {
                      "type": "integer",
                      "example": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/org-unit/projects/{projectId}": {
      "put": {
        "summary": "Update project",
        "operationId": "update_project",
        "description": "Update project by Id",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "requestBody": {
          "description": "Project to update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "get": {
        "summary": "Get project",
        "operationId": "get_project",
        "description": "Get a project by id",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "delete": {
        "summary": "Delete project",
        "operationId": "delete_project",
        "description": "Delete a project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/org-unit/projects/{projectId}/resources": {
      "put": {
        "summary": "Update project resources",
        "operationId": "update_project_resources",
        "description": "Update projects resources",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "requestBody": {
          "description": "Project resources to update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourcesUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Resources"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "patch": {
        "summary": "Patch project resources",
        "operationId": "patch_project_resources",
        "description": "Partial updates to specific items in the list. Should be used for update one or more attributes of an item without modifying the entire resource.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "requestBody": {
          "description": "Project resources to patch.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourcesUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Resources"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/org-unit/projects/{projectId}/metrics": {
      "get": {
        "summary": "Get project metrics data.",
        "operationId": "get_project_metrics",
        "description": "Retrieves project data metrics from the metrics database. Use in reporting and analysis tools.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/OrgUnitMetricTypes"
          },
          {
            "$ref": "#/components/parameters/StartRequired"
          },
          {
            "$ref": "#/components/parameters/EndRequired"
          },
          {
            "$ref": "#/components/parameters/NumberOfSamples"
          },
          {
            "$ref": "#/components/parameters/FilterByNodepoolName"
          }
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              },
              "text/csv": {}
            }
          },
          "207": {
            "description": "Partial success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/org-unit/projects/telemetry": {
      "get": {
        "summary": "Get projects telemetry",
        "operationId": "get_projects_telemetry",
        "description": "Get projects telemetry data by the given query parameters",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FilterByCluster"
          },
          {
            "$ref": "#/components/parameters/FilterByNodepoolId"
          },
          {
            "$ref": "#/components/parameters/FilterByDepartment"
          },
          {
            "$ref": "#/components/parameters/TelemetryGroupByProject"
          },
          {
            "$ref": "#/components/parameters/TelemetryType1"
          }
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelemetryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/org-unit/projects/count": {
      "get": {
        "summary": "Count projects",
        "operationId": "count_projects",
        "description": "count projects",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectsFilterBy"
          },
          {
            "$ref": "#/components/parameters/Search"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/v1/k8s/clusters/{uuid}/pods": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uuid"
        }
      ]
    },
    "/v1/k8s/clusters/{uuid}/deployments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uuid"
        }
      ]
    },
    "/v1/k8s/clusters/{uuid}/deployments/{deploymentId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uuid"
        },
        {
          "$ref": "#/components/parameters/deploymentId"
        }
      ]
    },
    "/v1/k8s/clusters/{uuid}": {
      "parameters": [
        {
          "name": "uuid",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the cluster.",
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ]
    },
    "/v1/k8s/clusters/{cluster_uuid}/installfile": {
      "get": {
        "tags": [
          "Clusters"
        ],
        "summary": "Get cluster installation file by id.",
        "description": "Retrieve the installation values file of a cluster by Retrieve the installation values file of a given cluster by ID. \nSupports clusters 2.13 and lower.\n",
        "operationId": "getInstallFile",
        "parameters": [
          {
            "name": "cluster_uuid",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the cluster.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "cloud",
            "description": "Cloud type identifier.",
            "schema": {
              "type": "string",
              "enum": [
                "gke",
                "aws",
                "aks",
                "op",
                "airgapped",
                "openshift"
              ]
            }
          },
          {
            "in": "query",
            "name": "clusterip",
            "description": "Comma-separated list of IP addresses that provide access to the cluster.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "format",
            "description": "Format of the output file.",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "yaml"
              ],
              "default": "yaml"
            }
[...]
