{
  "openapi": "3.0.3",
  "info": {
    "version": 2.18,
    "description": "# Introduction\n\nThe Run:AI Control-Plane API reference is a guide that provides an easy-to-use programming interface for adding various tasks to your application, including workload submission, resource management, and administrative operations.\n\nRun:ai APIs are accessed using *bearer tokens*. To obtain a token, you need to create an **Application** through the Run:ai user interface.\nTo create an application, in your UI, go to `Settings & Tools`, `Application` and create a new Application.\n\nAfter you have created a new application, you will need to assign it access rules.\nTo assign access rules to the application, see [Create access rules](https://docs.run.ai/latest/admin/runai-setup/access-control/rbac/?h=create+delete+app#create-or-delete-rules).\nMake sure you assign the correct rules to your application. Use the [Roles](https://docs.run.ai/latest/admin/runai-setup/access-control/rbac/?h=create+delete+app#roles) to assign the correct access rules.\n\nTo get your access token, follow the instructions in [Request a token](https://docs.run.ai/latest/developer/rest-auth/#request-an-api-token).\n",
    "title": "Runai API",
    "x-logo": {
      "url": "https://api.redocly.com/registry/raw/runai-xq8/saas/2.18/runai-logo-api.png",
      "altText": "Run:AI",
      "backgroundColor": "#FAFAFA",
      "href": "https://run.ai"
    },
    "license": {
      "name": "Run:AI",
      "url": "https://www.run.ai/eula"
    }
  },
  "servers": [
    {
      "url": "https://app.run.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Jobs",
      "description": "job related operations"
    },
    {
      "name": "Storage Classes",
      "description": "storage class related operations"
    },
    {
      "name": "Policy",
      "description": "Policies allow administrators to impose restrictions and set default values for researcher workloads. \nRestrictions and default values can be placed on CPUs, GPUs, and other resources or entities. \nFor more information, see [Policies](https://docs.run.ai/latest/admin/workloads/policies/#introduction).\n"
    },
    {
      "name": "Pods",
      "description": "Retrieve data about workload pods from your Run:ai platform."
    },
    {
      "name": "Deployments",
      "description": "deployment related operations"
    },
    {
      "name": "Workspaces",
      "description": "A Workspace is a simplified tool for researchers to conduct experiments, build AI models, access standard MLOps tools, and collaborate with their peers.\nWorkspaces abstract complex concepts related to running containerized workloads in a Kubernetes environment and are built from predefined setups that include\nnetworking, storage, secrets and other resources. All the setup and configurations for research, including container \nimages, data sets, resource requests, as well as all tools are included. for the research, in a single place. \nIt answers the research needs while ensuring infrastructure owners keep control and allocation efficiency.\nA workspace is associated with a specific Run:ai project and you can have multiple workspaces under a specific project. \nFor more information, see [Workspaces](https://docs.run.ai/latest/Researcher/user-interface/workspaces/overview/).\n"
    },
    {
      "name": "Workloads",
      "description": "Workloads are trainings, workspaces, and deployments that are fully controlled by Run:ai. Workloads can be native, third party integrations, and typical Kubernetes workload types.\nFor more information, see [Workloads overview](https://docs.run.ai/latest/admin/workloads/?h=workloads).\n"
    },
    {
      "name": "Trainings",
      "description": "Trainings are dedicated workloads that are specifically used for training models. \nThey are by design preemptible workloads because they are used in unattended sessions where the  \nscientists and researchers do not need to be present. These workloads are allowed to utilize \nresources over the project's quota.      \n"
    },
    {
      "name": "Distributed",
      "description": "Distributed Training, is the ability to split the training of a model among multiple processors. \nIt is often a necessity when multi-GPU training no longer applies; \ntypically when you require more GPUs than exist on a single node. \nEach such split is a pod (see definition above). Run:ai spawns an additional launcher process that manages and \ncoordinates the other worker pods. For more information, see [Distributed training](https://docs.run.ai/latest/Researcher/scheduling/the-runai-scheduler/?h=distributed+training#distributed-training).\n"
    },
    {
      "name": "Events",
      "description": "Workload events that occurred while the workload was running. Use to diagnose issue around workload scheduling."
    },
    {
      "name": "Inferences",
      "description": "Use to retrieve metrics for inference workloads and pods."
    },
    {
      "name": "Access rules",
      "description": "Access rules provide user authorization to system resources and entities.\nIt is managed using Role-based access control (RBAC) which is a policy-neutral \naccess control mechanism defined around roles and privileges. \nThe components of RBAC make it simple to manage access to system resources and entities.\nFor more information, see [Access control](https://docs.run.ai/latest/admin/runai-setup/access-control/rbac/#role-based-access-control).\n"
    },
    {
      "name": "Applications",
      "description": "Create and manage applications in the tenant."
    },
    {
      "name": "Roles",
      "description": "A role is a group of permissions that can be granted. \nPermissions are a set of actions that can be applied to entities.\nFor more information, see [Roles](https://docs.run.ai/latest/admin/runai-setup/access-control/rbac/?h=roles#roles).\n"
    },
    {
      "name": "Tokens",
      "description": "Use tokens to facilitate authentication to the Run:ai API. \nThe API server must be configured to use the Run:ai identity \nservice to validate authentication tokens.\n"
    },
    {
      "name": "Tenant",
      "description": "Manage tenant settings."
    },
    {
      "name": "Logo",
      "description": "Use to manage tenant logo files."
    },
    {
      "name": "NodePools",
      "description": "Node pools assist in managing heterogeneous resources effectively. \nA node pool is a set of nodes grouped into a bucket of resources using a predefined (for example, GPU-Type) or \nadministrator-defined label (for example, key & value). \nFor more information, see [Node Pools](https://docs.run.ai/latest/Researcher/scheduling/using-node-pools/#introduction).\n"
    },
    {
      "name": "Clusters",
      "description": "Use these endpoints to create, manage and delete Run:ai Kubernetes clusters."
    },
    {
      "name": "Departments",
      "description": "Departments, in the hierarchy of resource allocation, are above Projects. A Department can contain multiple Projects, and has its own quotas. \nA Department's quota supersedes the total of the Project quotas in the Department, so tt is recommended \nthat a Department's quota be the total, or more than of all the Project quotas in the Department. \nFor further information see, [Working with Departments](https://docs.run.ai/latest/admin/admin-ui-setup/department-setup/?h=departments#departments).\n"
    },
    {
      "name": "Projects",
      "description": "Projects implement resource allocation policies and create segregation between \ndifferent initiatives. It can represent a team, an individual, or an initiative that \nshares resources or has a specific resources budget (quota). \nSee [Projects](https://docs.run.ai/latest/admin/admin-ui-setup/project-setup/) \nfor more information.\n"
    },
    {
      "name": "Administrator Command Line Interface",
      "description": "Information specific to the Administrator Command Line Interface."
    },
    {
      "name": "Audit",
      "description": "The audit log provides audit trail information for user activity, changes to business objects and other important information. For more information, see [Audit log](https://docs.run.ai/latest/admin/runai-setup/maintenance/audit-log/?h=audit#introduction)."
    },
    {
      "name": "Nodes",
      "description": "Nodes are worker machines in Kubernetes and may be either a virtual or a physical machine, depending on the cluster. \nEach Node is managed by the Run:ai control plane. For more information, see [Nodes](https://docs.run.ai/latest/admin/runai-setup/config/node-roles/?h=nodes).\n"
    },
    {
      "name": "Compute",
      "description": "A compute resource is a building block that represents compute resources such as GPUs, CPU cores, and CPU memory.\nThe compute resources may consist of multiple physical resources, for example, 0.5 GPU, 8 cores and 200 Megabytes of CPU memory. \nA compute resource is available to a scope and and all of the organizational units within that scope. \n      \nFor more information, see [Compute resource](https://docs.run.ai/latest/Researcher/user-interface/workspaces/blocks/compute/?h=compute#compute-resource-introduction).\n"
    },
    {
      "name": "Credentials",
      "description": "Credentials are used to unlock protected resources such as applications, containers, and other assets. For more information, see [Credentials](https://docs.run.ai/latest/admin/admin-ui-setup/credentials-setup/?h=creden#credentials)."
    },
    {
      "name": "Datasources",
      "description": "Data source assets."
    },
    {
      "name": "Environment",
      "description": "An environment resource designates the container image, the image pull policy, working directory, security parameters, and others. \nIt exposes all the necessary tools (open source, 3rd party, or custom tools) along \nwith their connection interfaces including external node port and the container ports.\nYou can also specify a standard, distributed, or inference workload architecture for the environment.\nAn environment is a mandatory building block for the creation of a workload.\nFor more information, see [Environments](https://docs.run.ai/latest/Researcher/user-interface/workspaces/blocks/environments/?h=environ#environment-introduction).\n"
    },
    {
      "name": "Git",
      "description": "Use Git as a data source location for data sets that are relevant to the workload being submitted."
    },
    {
      "name": "HostPath",
      "description": "Use a HostPath as a data source location for data sets that are relevant to the workload being submitted."
    },
    {
      "name": "NFS",
      "description": "Use NFS as a data source location for data sets that are relevant to the workload being submitted."
    },
    {
      "name": "PVC",
      "description": "Use a PVC as a data source location for data sets that are relevant to the workload being submitted."
    },
    {
      "name": "S3",
      "description": "Use an S3 simple storage service as a data source location for data sets that are relevant to the workload being submitted."
    },
    {
      "name": "Template",
      "description": "Templates are a pre-set configuration used to quickly configure and submit workloads using existing assets."
    },
    {
      "name": "Workspace",
      "description": "Specification for workspaces."
    },
    {
      "name": "Training",
      "description": "Specification for trainings."
    },
    {
      "name": "Inference",
      "description": "Specification for inferences."
    },
    {
      "name": "Workload",
      "description": "Specification for workloads."
    },
    {
      "name": "Synchronization",
      "description": "Internal interface for synchronizing assets between the clusters and the control plane."
    },
    {
      "name": "Registry",
      "description": "Use an images registry to enable the listting of repositories and tags that can be used as a data source location for data sets that are relevant to the workload being submitted."
    },
    {
      "name": "ConfigMap",
      "description": "Use a ConfigMap as a data source location for data sets that are relevant to the workload being submitted."
    },
    {
      "name": "Secret",
      "description": "Use a credentials as a data source location for data sets that are relevant to the workload being submitted."
    }
  ],
  "paths": {
    "/api/v1/clusters/{clusterUuid}/nodes": {
      "get": {
        "summary": "Get a list of nodes.",
        "description": "Retrieve a list of nodes from the Kubernetes cluster.",
        "operationId": "get_nodes",
        "tags": [
          "Nodes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClusterUuid"
          },
          {
            "$ref": "#/components/parameters/QueryNodeName"
          }
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Nodes"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/clusters": {
      "get": {
        "summary": "Get a list of clusters.",
        "description": "Retrieve a list of clusters with details.",
        "operationId": "get_clusters",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/QueryVerbosity"
          }
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DisplayedCluster"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "post": {
        "summary": "Create a cluster.",
        "description": "Use to create a Kubernetes cluster.",
        "operationId": "create_cluster",
        "tags": [
          "Clusters"
        ],
        "requestBody": {
          "description": "The cluster to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterCreationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisplayedCluster"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/clusters/{clusterUuid}": {
      "get": {
        "summary": "Get cluster by id.",
        "description": "Retrieve cluster details by Universally Unique Identifier (UUID).",
        "operationId": "get_cluster_by_uuid",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClusterUuid"
          },
          {
            "$ref": "#/components/parameters/QueryVerbosity"
          }
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisplayedCluster"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "delete": {
        "summary": "Delete a cluster.",
        "description": "Use to delete a cluster by Universally Unique Identifier (UUID).",
        "operationId": "delete_cluster",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClusterUuid"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204NoContent"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "put": {
        "summary": "Update a cluster by id.",
        "description": "Use to update the details of a Kubernetes cluster by Universally Unique Identifier (UUID).",
        "operationId": "updateCluster",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClusterUuid"
          }
        ],
        "requestBody": {
          "description": "The cluster details to update",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClusterUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "$ref": "#/components/responses/204NoContent"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/clusters/{clusterUuid}/metrics": {
      "get": {
        "summary": "Get the cluster metrics data.",
        "description": "Retrieve the metrics data for a Kubernetes cluster by Universally Unique Identifier (UUID).",
        "operationId": "get_cluster_metrics",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClusterUuid"
          },
          {
            "$ref": "#/components/parameters/StartRequired"
          },
          {
            "$ref": "#/components/parameters/EndRequired"
          },
          {
            "$ref": "#/components/parameters/NumberOfSamples"
          },
          {
            "$ref": "#/components/parameters/MetricsType"
          }
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              },
              "text/csv": {}
            }
          },
          "207": {
            "description": "Partial success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/clusters/{clusterUuid}/nodepools/{nodepoolName}/metrics": {
      "get": {
        "summary": "Get the node pool metrics data. [Experimental]",
        "description": "Retrieve the node pool metrics data by Universally Unique Identifier (UUID).",
        "operationId": "get_nodepool_metrics",
        "tags": [
          "NodePools"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClusterUuid"
          },
          {
            "$ref": "#/components/parameters/NodepoolPath"
          },
          {
            "$ref": "#/components/parameters/StartRequired"
          },
          {
            "$ref": "#/components/parameters/EndRequired"
          },
          {
            "$ref": "#/components/parameters/NumberOfSamples"
          },
          {
            "$ref": "#/components/parameters/MetricsType"
          }
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              },
              "text/csv": {}
            }
          },
          "207": {
            "description": "Partial success.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MetricsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/clusters/{clusterUuid}/cluster-install-info": {
      "get": {
        "summary": "Retrieve the installation instructions of a cluster by ID.",
        "description": "Use to retrieve installation instruction for a cluster by Universally Unique Identifier (UUID). \nSupports clusters version 2.15 or above.\n",
        "operationId": "get_cluster_install_info_by_uuid",
        "tags": [
          "Clusters"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ClusterUuid"
          },
          {
            "$ref": "#/components/parameters/ClusterVersion"
          },
          {
            "$ref": "#/components/parameters/ClusterRemoteURL"
          }
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClusterInstallationInfoResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/nodes/telemetry": {
      "get": {
        "summary": "Get node telemetry data.",
        "description": "Retrieve node telemetry data for use in analysis applications.",
        "operationId": "get_node_telemetry",
        "tags": [
          "Nodes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FilterByCluster"
          },
          {
            "$ref": "#/components/parameters/FilterByNodepoolName"
          },
          {
            "$ref": "#/components/parameters/TelemetryGroupBy"
          },
          {
            "$ref": "#/components/parameters/TelemetryType"
          }
        ],
        "responses": {
          "200": {
            "description": "Executed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelemetryResponse"
                }
              },
              "text/csv": {}
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/org-unit/departments": {
      "post": {
        "summary": "Create department",
        "operationId": "create_department",
        "description": "Create Department",
        "tags": [
          "Departments"
        ],
        "requestBody": {
          "description": "Department to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepartmentCreationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Department"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "get": {
        "summary": "Get departments",
        "operationId": "get_departments",
        "description": "list departments",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DepartmentsFilterBy"
          },
          {
            "$ref": "#/components/parameters/DepartmentsSortBy"
          },
          {
            "$ref": "#/components/parameters/SortOrder"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "departments": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/DepartmentSlim"
                          },
                          {
                            "required": [
                              "id",
                              "name",
                              "createdAt",
                              "updatedAt"
                            ]
                          }
                        ]
                      }
                    },
                    "next": {
                      "type": "integer",
                      "example": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/org-unit/departments/{departmentId}": {
      "put": {
        "summary": "Update department",
        "operationId": "update_department",
        "description": "Update department by Id",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DepartmentId"
          }
        ],
        "requestBody": {
          "description": "Department to update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepartmentUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Department"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "get": {
        "summary": "Get department",
        "operationId": "get_department",
        "description": "Get department by Id",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DepartmentId"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Department"
                    },
                    {
                      "required": [
                        "id",
                        "name",
                        "createdAt",
                        "updatedAt"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "delete": {
        "summary": "Delete department",
        "operationId": "delete_department",
        "description": "Delete department by Id",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DepartmentId"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/org-unit/departments/{departmentId}/resources": {
      "put": {
        "summary": "Update department resources",
        "operationId": "update_department_resources",
        "description": "Update department resources by Id",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DepartmentId"
          }
        ],
        "requestBody": {
          "description": "Department resources to update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourcesUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Resources"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "patch": {
        "summary": "Patch department resources",
        "operationId": "patch_department_resources",
        "description": "Partial updates to specific items in the list. Should be used for update one or more attributes of an item without modifying the entire resource.",
        "tags": [
          "Departments"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/DepartmentId"
          }
        ],
        "requestBody": {
          "description": "Department resources to update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourcesUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Resources"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/org-unit/projects": {
      "post": {
        "summary": "Create project",
        "operationId": "create_project",
        "description": "Create a project",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "description": "Project to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectCreationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "get": {
        "summary": "Get projects",
        "operationId": "get_projects",
        "description": "List projects",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectsFilterBy"
          },
          {
            "$ref": "#/components/parameters/ProjectsSortBy"
          },
          {
            "$ref": "#/components/parameters/SortOrder"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/Project"
                          },
                          {
                            "required": [
                              "id",
                              "name",
                              "status",
                              "phase",
                              "createdAt",
                              "updatedAt"
                            ]
                          }
                        ]
                      }
                    },
                    "next": {
                      "type": "integer",
                      "example": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/org-unit/projects/{projectId}": {
      "put": {
        "summary": "Update project",
        "operationId": "update_project",
        "description": "Get projects telemetry data by the given query parameters",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "requestBody": {
          "description": "Project to update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "get": {
        "summary": "Get project",
        "operationId": "get_project",
        "description": "Get a project by id",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Project"
                    },
                    {
                      "required": [
                        "id",
                        "name",
                        "status",
                        "phase",
                        "createdAt",
                        "updatedAt"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "delete": {
        "summary": "Delete project",
        "operationId": "delete_project",
        "description": "Delete a project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/api/v1/org-unit/projects/{projectId}/resources": {
      "put": {
        "summary": "Update project resources",
        "operationId": "update_project_resources",
        "description": "Update projects resources",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "requestBody": {
          "description": "Project resources to update.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourcesUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Resources"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "patch": {
        "summary": "Patch project resources",
        "operationId": "patch_project_resources",
        "description": "Partial updates to specific items in the list. Should be used for update one or more attributes of an item without modifying the entire resource.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          }
        ],
        "requestBody": {
          "description": "Project resources to patch.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResourcesUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Resources"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/v1/k8s/clusters/{uuid}/storage-classes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uuid"
        }
      ],
      "get": {
        "summary": "Get all storageClasses from a cluster.",
        "description": "Retrieve a list of storageClass names by Universally Unique Identifier (UUID) of the cluster.",
        "operationId": "getStorageClasses",
        "tags": [
          "Storage Classes"
        ],
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StorageClasses"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/k8s/clusters/{uuid}/storage-classes/sync": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uuid"
        }
      ]
    },
    "/v1/k8s/clusters/{uuid}/storage-classes/{storage_class_name}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uuid"
        },
        {
          "$ref": "#/components/parameters/storage_class_name"
        }
      ]
    },
    "/v1/k8s/clusters/{uuid}/pods": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uuid"
        }
      ],
      "get": {
        "deprecated": true,
        "summary": "get all pods from a specific cluster. Deprecated - please use api/v1/workloads/pods instead",
        "operationId": "getPods",
        "tags": [
          "Pods"
        ],
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pods"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/k8s/clusters/{uuid}/deployments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uuid"
        }
      ],
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "List deployments",
        "deprecated": true,
        "operationId": "getDeployments",
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deployments"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/k8s/clusters/{uuid}/deployments/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uuid"
        }
      ]
    },
    "/v1/k8s/clusters/{uuid}/deployments/deleted": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uuid"
        }
      ]
    },
    "/v1/k8s/clusters/{uuid}/deployments/deleted/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uuid"
        }
      ]
    },
    "/v1/k8s/clusters/{uuid}/deployments/{deploymentId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uuid"
        },
        {
          "$ref": "#/components/parameters/deploymentId"
        }
      ],
      "get": {
        "tags": [
          "Deployments"
        ],
        "summary": "Get a deployment by id",
        "deprecated": true,
        "operationId": "getDeployment",
        "responses": {
          "200": {
            "description": "A deployment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Deployment"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          }
        }
      }
    },
    "/v1/k8s/clusters/{uuid}/deployments/{deploymentId}/pods": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uuid"
        },
        {
          "$ref": "#/components/parameters/deploymentId"
        }
      ]
    },
    "/v1/k8s/clusters/{uuid}/jobs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uuid"
        }
      ],
      "get": {
        "deprecated": true,
        "summary": "List all Jobs in the cluster. Deprecated - please use api/v1/workloads instead",
        "parameters": [
          {
            "name": "nodeId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Unique identifier of the node."
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Order of the results."
          },
          {
            "name": "sortDirection",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Start the response from a given number of result. Used along with 'limit' to retrieve the results paginated."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            },
            "description": "Limit the response to a given number of results."
          },
          {
            "name": "includeDeleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "description": "True to include deleted jobs in the result."
          }
        ],
        "operationId": "listJobs",
        "tags": [
          "Jobs"
        ],
        "responses": {
          "200": {
            "description": "An array of Jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisplayedJobs"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          }
        }
      }
    },
    "/v1/k8s/clusters/{uuid}/jobs/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/uuid"
        },
        {
          "name": "nodeId",
          "in": "query",
          "required": false,
          "schema": {
            "type": "string"
          },
          "description": "Unique identifier of the node."
        },
        {
          "name": "filter",
          "in": "query",
          "required": false,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "deprecated": true,
        "summary": "Return the number all Jobs in the cluster. Deprecated - please use api/v1/workloads/count instead",
        "operationId": "getClusterJobsCount",
        "tags": [
          "Jobs"
        ],
        "responses": {
          "200": {
            "description": "The job count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "number"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          }
        }
      }
    },
    "/v1/k8s/clusters/{uuid}/jobs/{jobId}/pods": {
      "parameters": [
        {
          "$ref": "#/components/parameters/jobId"
        },
        {
          "$ref": "#/components/parameters/uuid"
        },
        {
          "name": "id",
          "in": "query",
          "description": "id",
          "required": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "podId",
          "in": "query",
          "description": "Unique identifier of the pod.",
          "required": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "podGroupId",
          "in": "query",
          "description": "Identifier of the pod group.",
          "required": false,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "nodeID",
          "in": "query",
          "required": false,
          "schema": {
            "type": "string"
          },
          "description": "Unique identifier of the node."
        },
        {
          "name": "name",
          "in": "query",
          "required": false,
          "schema": {
            "type": "string"
          },
          "description": "The name of the job."
        },
        {
          "name": "status",
          "in": "query",
          "required": false,
          "schema": {
            "type": "string"
          },
          "description": "The status of the job."
        }
      ],
      "get": {
        "deprecated": true,
        "summary": "Get all pods that are associated for a specific job. Deprecated - please use api/v1/workloads/{workloadId}/pods instead",
        "operationId": "getPodsByJobId",
        "tags": [
          "Jobs"
        ],
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pods"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/k8s/clusters/{uuid}": {
      "parameters": [
        {
          "name": "uuid",
          "in": "path",
          "required": true,
          "description": "Unique identifier of the cluster.",
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ]
    },
    "/v1/k8s/clusters/{cluster_uuid}/installfile": {
      "get": {
        "tags": [
          "Clusters"
        ],
        "summary": "Get cluster installation file by id.",
        "description": "Retrieve the installation values file of a cluster by Retrieve the installation values file of a given cluster by ID. \nSupports clusters 2.13 and lower.\n",
        "operationId": "getInstallFile",
        "parameters": [
          {
            "name": "cluster_uuid",
            "in": "path",
            "required": true,
            "description": "Unique identifier of the cluster.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "cloud",
            "description": "Cloud type identifier.",
            "schema": {
              "type": "string",
              "enum": [
                "gke",
                "aws",
                "aks",
                "op",
                "airgapped",
                "openshift"
              ]
            }
          },
          {
            "in": "query",
            "name": "clusterip",
            "description": "Comma-separated list of IP addresses that provide access to the cluster.",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "format",
            "description": "Format of the output file.",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "yaml"
              ],
              "default": "yaml"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/k8s/clusters/{clusterId}/node-pools": {
      "get": {
        "tags": [
          "NodePools"
        ],
        "summary": "Get the cluster's Node Pools.",
        "description": "Retrieve all the node pools with details from the cluster by Universally Unique Identifier (UUID).",
        "operationId": "getNodePools",
        "parameters": [
          {
            "name": "clusterId",
            "in": "path",
            "description": "Unique identifier of the cluster",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Node pools returned successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NodePool1"
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "NodePools"
        ],
        "summary": "Create a Node Pool.",
        "description": "Use to create a node pool in a cluster by Universally Unique Identifier (UUID).",
        "operationId": "createNodePool",
        "parameters": [
          {
            "name": "clusterId",
            "in": "path",
            "description": "Unique identifier of the cluster",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodePoolCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "default": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/k8s/clusters/{clusterId}/node-pools/{id}/labels": {
      "put": {
        "tags": [
          "NodePools"
        ],
        "summary": "Update labels of a Node Pool.",
        "description": "Use to update the labels of a node pool.",
        "operationId": "updateNodePoolLabels",
        "parameters": [
          {
            "name": "clusterId",
            "in": "path",
            "description": "Unique identifier of the cluster",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The unique id identifying the Node Pool."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NodePoolLabelsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Node Pool update accepted."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          }
        }
      }
    },
    "/v1/k8s/clusters/{clusterId}/node-pools/{id}": {
      "delete": {
        "tags": [
          "NodePools"
        ],
        "summary": "Delete a Node Pool by id.§",
        "description": "Use to delete a node pool by Universally Unique Identifier (UUID).",
        "operationId": "deleteNodePool",
        "parameters": [
          {
            "name": "clusterId",
            "in": "path",
            "description": "Unique identifier of the cluster",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The unique id identifying the Node Pool."
          }
        ],
        "responses": {
          "202": {
            "description": "Node Pool deletion accepted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          }
        }
      },
      "put": {
        "tags": [
          "NodePools"
        ],
        "summary": "Update a Node Pool.",
        "description": "Use to update the details of a node pool by Universally Unique Identifier (UUID).",
        "operationId": "updateNodePool",
        "parameters": [
          {
            "name": "clusterId",
            "in": "path",
            "description": "Unique identifier of the cluster",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "id",
            "schema": {
              "type": "integer"
            },
            "required": true,
            "description": "The unique id identifying the Node Pool."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateNodePoolRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Node Pool update accepted."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "503": {
            "$ref": "#/components/responses/serviceUnavailable"
          }
        }
      }
    },
    "/v1/k8s/users": {
      "get": {
        "operationId": "getUsers",
        "deprecated": true,
        "tags": [
          "Users"
        ],
        "summary": "Get users list.",
        "description": "Return the list of users of the tenant.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Roles"
          },
          {
            "$ref": "#/components/parameters/CreatedByMe"
          },
          {
            "$ref": "#/components/parameters/UserType"
          }
        ],
        "responses": {
          "200": {
            "description": "The complete set of permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User1"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "createUser",
        "deprecated": true,
        "tags": [
          "Users"
        ],
        "summary": "Create a new user.",
        "description": "Create a new user and assign it with a password. It is possible to force the user to change the password upon next login by setting needToChangePassword to true. This endpoint requires ADMIN role. Deprecated endpoint. Use the new endpoint api/v1/users instead.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserCreationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The complete set of permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserCreationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/v1/k8s/users/{userId}": {
      "get": {
        "operationId": "getUserById",
        "deprecated": true,
        "tags": [
          "Users"
        ],
        "summary": "Get user details.",
        "description": "Get the details of a given user. This endpoint requires ADMIN, EDITOR or VIEWER role. Deprecated endpoint. Use the new endpoint api/v1/users/{userId} instead.",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "userId",
            "schema": {
              "$ref": "#/components/schemas/UserId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User1"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "put": {
        "operationId": "updateUserById",
        "deprecated": true,
        "tags": [
          "Users"
        ],
        "summary": "Update user details.",
        "description": "Update the details of a given user. This endpoint requires ADMIN role. Deprecated endpoint. Use the new endpoint api/v1/users/{userId} instead.",
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/UserId"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User1"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User1"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteUserById",
        "deprecated": true,
        "tags": [
          "Users"
        ],
        "summary": "Delete a user.",
        "description": "Delete the given user from the tenant. This endpoint requires ADMIN role. Deprecated endpoint. Use the new endpoint api/v1/users/{userId} instead.",
        "parameters": [
          {
            "in": "path",
            "name": "userId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/UserId"
            }
          },
          {
            "$ref": "#/components/parameters/UserType"
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted successfully."
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/v1/k8s/users/roles": {
      "get": {
        "operationId": "getRoles",
        "deprecated": true,
        "tags": [
          "Users"
        ],
        "summary": "Get all possible permissions.",
        "description": "Get the complete set of permissions that a tenant can grant to users and applications. Deprecated endpoint. please reffer to Roles & Access rules API.",
        "responses": {
          "200": {
            "description": "The complete set of permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/v1/k8s/users/{userId}/roles": {
      "get": {
        "operationId": "getUserRoles",
        "deprecated": true,
        "tags": [
          "Users"
        ],
        "summary": "Get user permissions.",
        "description": "Return the set of permissions granted to a given user. Deprecated endpoint. please reffer to Roles & Access rules API.",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "userId",
            "schema": {
              "$ref": "#/components/schemas/UserId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A set of permissions that the user is granted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/v1/k8s/apps": {
      "get": {
        "operationId": "getApplications",
        "deprecated": true,
        "tags": [
          "Applications"
        ],
        "summary": "Get Apps list.",
        "description": "Return the list of apps of the tenant. Deprecated in favor of the new endpoint api/v1/apps.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Roles"
          },
          {
            "$ref": "#/components/parameters/CreatedByMe"
          }
        ],
        "responses": {
          "200": {
            "description": "The complete set of permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/App"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "createApplication",
        "deprecated": true,
        "tags": [
          "Applications"
        ],
        "summary": "Create a new app.",
        "description": "Create a new app and assign it with a client secret. This endpoint requires ADMIN role. Deprecated in favor of the new endpoint api/v1/apps.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/App"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The complete set of permissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/v1/k8s/apps/{clientId}": {
      "get": {
        "operationId": "getApplicationById",
        "deprecated": true,
        "tags": [
          "Applications"
        ],
        "summary": "Get app details.",
        "description": "Get the details of a given app. This endpoint requires ADMIN, EDITOR or VIEWER role. Deprecated in favor of the new endpoint api/v1/apps/{clientId}.",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "clientId",
            "schema": {
              "$ref": "#/components/schemas/ClientId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "App details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "put": {
        "operationId": "updateApplicationById",
        "deprecated": true,
        "tags": [
          "Applications"
        ],
        "summary": "Update app details.",
        "description": "Update the details of a given app. This endpoint requires ADMIN role. Deprecated in favor of the new endpoint api/v1/apps/{clientId}.",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "clientId",
            "schema": {
              "$ref": "#/components/schemas/ClientId"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/App"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "delete": {
        "operationId": "deleteApplicationById",
        "deprecated": true,
        "tags": [
          "Applications"
        ],
        "summary": "Delete a App.",
        "description": "Delete the given app from the tenant. This endpoint requires ADMIN role. Deprecated in favor of the new endpoint api/v1/apps/{clientId}.",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "clientId",
            "schema": {
              "$ref": "#/components/schemas/ClientId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User deleted successfully."
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/v1/k8s/apps/{clientId}/secret": {
      "post": {
        "operationId": "resetAppSecret",
        "deprecated": true,
        "tags": [
          "Applications"
        ],
        "summary": "Re-generate secret of application.",
        "description": "Generate a new secret for a given application. This endpoint requires ADMIN role. Deprecated in favor of the new endpoint api/v1/apps/{clientId}/secret.",
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "clientId",
            "schema": {
              "$ref": "#/components/schemas/ClientId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The secret generated succefully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/App"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/v1/k8s/audit": {
      "get": {
        "operationId": "getAuditLogs",
        "tags": [
          "Audit"
        ],
        "summary": "Get audit logs.",
        "description": "Retrieve audit logs using the query parameters.",
        "parameters": [
          {
            "in": "query",
            "name": "start",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "description": "Starting date for audit logs retrieval. format yyyy-MM-dd for date yyyy-MM-ddTHH:mm:ss for date-time.",
            "example": "2022-06-07T09:01:02"
          },
          {
            "in": "query",
            "name": "end",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "description": "Ending date for audit logs retrieval. format yyyy-MM-dd for date yyyy-MM-ddTHH:mm:ss for date-time.",
            "example": "2022-06-07T09:01:02"
          },
          {
            "in": "query",
            "name": "cluster_uuid",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "The cluster uuid of the logged operation (for cluster related operations)",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          {
            "in": "query",
            "name": "action",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "The action of the logged operation.",
            "example": "Create"
          },
          {
            "in": "query",
            "name": "source_type",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "The type of the source of the action.",
            "example": "User"
          },
          {
            "in": "query",
            "name": "source_id",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "The id of the source of the action.",
            "example": "96a4382e-afa5-4604-9eb1-c3071aa021fc"
          },
          {
            "in": "query",
            "name": "source_name",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "The name of the source of the action.",
            "example": "test@run.ai"
          },
          {
            "in": "query",
            "name": "entity_type",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "The type of the action related entity.",
            "example": "Department"
          },
          {
            "in": "query",
            "name": "entity_id",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "The id of the action related entity.",
            "example": 51
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Offset"
          },
          {
            "in": "query",
            "name": "success",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "enter true for success audits and false for failures (leave blank for all)",
            "example": true
          },
          {
            "in": "query",
            "name": "download",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "enter true to download the logs into logs.json file",
            "example": true
          }
        ],
        "responses": {
          "200": {
            "description": "Filtered audit logs returned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AuditLogRecord"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/v1/k8s/tenant/{tenantId}/logo": {
      "get": {
        "operationId": "logo",
        "deprecated": true,
        "tags": [
          "Tenant"
        ],
        "summary": "Get tenant logo.",
        "description": "Get tennant logo",
        "parameters": [
          {
            "in": "path",
            "name": "tenantId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TenantId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant logo png.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "logo"
                  ],
                  "properties": {
                    "logo": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "post": {
        "operationId": "upload_tenant_logo",
        "deprecated": true,
        "tags": [
          "Tenant"
        ],
        "summary": "Upload a tenant logo.",
        "description": "Upload tenant logo file. Max size of 128kb.",
        "parameters": [
          {
            "in": "path",
            "name": "tenantId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/TenantId"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "logo"
                ],
                "properties": {
                  "logo": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logo uploaded."
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "413": {
            "$ref": "#/components/responses/413RequestEntityTooLarge"
          },
          "415": {
            "$ref": "#/components/responses/415UnsupportedMediaType"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/v1/k8s/setting": {
      "get": {
        "operationId": "getTenantSettings",
        "tags": [
          "Tenant"
        ],
        "summary": "Get all tenant settings.",
        "description": "Retrieve all tenant settings.",
        "responses": {
          "200": {
            "description": "The complete set of tenant settings.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Setting"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      },
      "put": {
        "operationId": "updateTenantSetting",
        "tags": [
          "Tenant"
        ],
        "summary": "Update a tenant setting.",
        "description": "Use to update tenant settings.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TenantSettingCreationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated tenant setting.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantSettingCreationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/401Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/404NotFound"
          },
          "500": {
            "$ref": "#/components/responses/500InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/503ServiceUnavailable"
          }
        }
      }
    },
    "/v1/k8s/setting/{settingKey}": {
      "get": {
        "operationId": "getTenantSettingsByKey",
[...]
