from typing import Optional, List
from datetime import datetime

from runai import models
from runai.api.runai_api_service import RunaiAPIService, deprecated_message


class NetworkTopologiesApi(RunaiAPIService):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        self._api_client = api_client

    def create_network_topology(
        self,
        network_topology_create_request: models.NetworkTopologyCreateRequest,
    ):
        r"""


        ### Description
        Create network topologies

        ### Parameters:
        ```python
        network_topology_create_request: NetworkTopologyCreateRequest
        ```
        network_topology_create_request: The network topology to create.

        ### Example:
        ```python
        NetworkTopologiesApi(
            network_topology_create_request=runai.NetworkTopologyCreateRequest()
        )
        ```
        """

        # Body params:
        body_params = network_topology_create_request

        resource_path = f"/api/v1/network_topologies".replace("_", "-")
        method = "POST"
        return self._api_client.call_api(
            resource_path=resource_path,
            method=method,
            body=body_params,
        )

    def delete_network_topology(
        self,
        network_topology_id: str,
    ):
        r"""


        ### Description
        Delete network topology by ID.

        ### Parameters:
        ```python
        network_topology_id: str
        ```
        network_topology_id: The unique identifier for the network topology

        ### Example:
        ```python
        NetworkTopologiesApi(
            network_topology_id='123e4567-e89b-12d3-a456-426614174000'
        )
        ```
        """

        resource_path = f"/api/v1/network_topologies/{network_topology_id}".replace(
            "_", "-"
        )
        method = "DELETE"
        return self._api_client.call_api(
            resource_path=resource_path,
            method=method,
        )

    def get_network_topologies(
        self,
        filter_by: Optional[List[str]] = None,
    ):
        r"""


        ### Description
        Get network topologies.

        ### Parameters:
        ```python
        filter_by: Optional[List[str]]
        ```
        filter_by: Filter results by a parameter. Use the format field-name operator value. Supported operators:  &#x3D;&#x3D; Equals  !&#x3D; Not equals  &lt;&#x3D; Less than or equal  &gt;&#x3D; Greater than or equal  &#x3D;@ Contains !@ Does not contain  &#x3D;^ Starts with  &#x3D;$ Ends with Date values must be in ISO 8601 timestamp format. Only the following operators support dates: &#x3D;&#x3D;, !&#x3D;, &lt;&#x3D;, &gt;&#x3D;.

        ### Example:
        ```python
        NetworkTopologiesApi(
            filter_by=['[\"clusterId==123e4567-e89b-12d3-a456-426614174000\",\"source=@Run.ai\"]']
        )
        ```
        """

        # Query params:
        query_params = [
            ("filterBy", filter_by),
        ]
        resource_path = f"/api/v1/network_topologies".replace("_", "-")
        method = "GET"
        return self._api_client.call_api(
            resource_path=resource_path, method=method, query_params=query_params
        )

    def get_network_topologies_count(
        self,
        filter_by: Optional[List[str]] = None,
    ):
        r"""


        ### Description
        Count the amount of network topologies in a tenant.

        ### Parameters:
        ```python
        filter_by: Optional[List[str]]
        ```
        filter_by: Filter results by a parameter. Use the format field-name operator value. Supported operators:  &#x3D;&#x3D; Equals  !&#x3D; Not equals  &lt;&#x3D; Less than or equal  &gt;&#x3D; Greater than or equal  &#x3D;@ Contains !@ Does not contain  &#x3D;^ Starts with  &#x3D;$ Ends with Date values must be in ISO 8601 timestamp format. Only the following operators support dates: &#x3D;&#x3D;, !&#x3D;, &lt;&#x3D;, &gt;&#x3D;.

        ### Example:
        ```python
        NetworkTopologiesApi(
            filter_by=['[\"clusterId==123e4567-e89b-12d3-a456-426614174000\",\"source=@Run.ai\"]']
        )
        ```
        """

        # Query params:
        query_params = [
            ("filterBy", filter_by),
        ]
        resource_path = f"/api/v1/network_topologies/count".replace("_", "-")
        method = "GET"
        return self._api_client.call_api(
            resource_path=resource_path, method=method, query_params=query_params
        )

    def get_network_topology_by_id(
        self,
        network_topology_id: str,
    ):
        r"""


        ### Description
        Get network topology by id.

        ### Parameters:
        ```python
        network_topology_id: str
        ```
        network_topology_id: The unique identifier for the network topology

        ### Example:
        ```python
        NetworkTopologiesApi(
            network_topology_id='123e4567-e89b-12d3-a456-426614174000'
        )
        ```
        """

        resource_path = f"/api/v1/network_topologies/{network_topology_id}".replace(
            "_", "-"
        )
        method = "GET"
        return self._api_client.call_api(
            resource_path=resource_path,
            method=method,
        )
