from typing import Optional, List
from datetime import datetime

from runai import models
from runai.api.runai_api_service import RunaiAPIService, deprecated_message


class NVIDIANIMApi(RunaiAPIService):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        self._api_client = api_client

    def create_nim_service(
        self,
        nim_service_create_request: models.NimServiceCreateRequest,
    ):
        r"""


        ### Description
        Create a NVIDIA NIM service. [Experimental]

        ### Parameters:
        ```python
        nim_service_create_request: NimServiceCreateRequest
        ```
        nim_service_create_request: See model NimServiceCreateRequest for more information.

        ### Example:
        ```python
        NVIDIANIMApi(
            nim_service_create_request=runai.NimServiceCreateRequest()
        )
        ```
        """

        # Body params:
        body_params = nim_service_create_request

        resource_path = f"/api/v2/workloads/nim_services".replace("_", "-")
        method = "POST"
        return self._api_client.call_api(
            resource_path=resource_path,
            method=method,
            body=body_params,
        )

    def get_nim_service_by_id(
        self,
        workload_v2_id: str,
    ):
        r"""


        ### Description
        Get a NVIDIA NIM service. [Experimental]

        ### Parameters:
        ```python
        workload_v2_id: str
        ```
        workload_v2_id: See model str for more information.

        ### Example:
        ```python
        NVIDIANIMApi(
            workload_v2_id='workload_v2_id_example'
        )
        ```
        """

        resource_path = f"/api/v2/workloads/nim_services/{workload_v2_id}".replace(
            "_", "-"
        )
        method = "GET"
        return self._api_client.call_api(
            resource_path=resource_path,
            method=method,
        )

    def update_nim_service_spec(
        self,
        workload_v2_id: str,
        nim_service_update_request: models.NimServiceUpdateRequest,
    ):
        r"""


        ### Description
        Update NVIDIA NIM service spec. [Experimental]

        ### Parameters:
        ```python
        workload_v2_id: str
        nim_service_update_request: NimServiceUpdateRequest
        ```
        workload_v2_id: See model str for more information.
        nim_service_update_request: See model NimServiceUpdateRequest for more information.

        ### Example:
        ```python
        NVIDIANIMApi(
            workload_v2_id='workload_v2_id_example',
                        nim_service_update_request=runai.NimServiceUpdateRequest()
        )
        ```
        """

        # Body params:
        body_params = nim_service_update_request

        resource_path = f"/api/v2/workloads/nim_services/{workload_v2_id}".replace(
            "_", "-"
        )
        method = "PATCH"
        return self._api_client.call_api(
            resource_path=resource_path,
            method=method,
            body=body_params,
        )
