from typing import Optional, List
from datetime import datetime

from runai import models
from runai.api.runai_api_service import RunaiAPIService, deprecated_message


class StorageClassConfigurationApi(RunaiAPIService):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        self._api_client = api_client

    def create_storage_class_configuration(
        self,
        storage_class_configuration_creation_request: models.StorageClassConfigurationCreationRequest,
    ):
        r"""


        ### Description
        Create storage class configuration

        ### Parameters:
        ```python
        storage_class_configuration_creation_request: StorageClassConfigurationCreationRequest
        ```
        storage_class_configuration_creation_request: See model StorageClassConfigurationCreationRequest for more information.

        ### Example:
        ```python
        StorageClassConfigurationApi(
            storage_class_configuration_creation_request=runai.StorageClassConfigurationCreationRequest()
        )
        ```
        """

        # Body params:
        body_params = storage_class_configuration_creation_request

        resource_path = f"/api/v1/storage_class_configuration".replace("_", "-")
        method = "POST"
        return self._api_client.call_api(
            resource_path=resource_path,
            method=method,
            body=body_params,
        )

    def delete_storage_class_configuration_by_id(
        self,
        id: str,
        tenant_id: Optional[int] = None,
    ):
        r"""


        ### Description
        Delete storage class configuration by id

        ### Parameters:
        ```python
        id: str
        tenant_id: Optional[int]
        ```
        id: unique identifier of the storage class configuration
        tenant_id: See model int for more information.

        ### Example:
        ```python
        StorageClassConfigurationApi(
            id='id_example',
                        tenant_id=56
        )
        ```
        """

        # Query params:
        query_params = [
            ("tenantId", tenant_id),
        ]
        resource_path = f"/api/v1/storage_class_configuration/{id}".replace("_", "-")
        method = "DELETE"
        return self._api_client.call_api(
            resource_path=resource_path, method=method, query_params=query_params
        )

    def get_storage_class_configuration_by_id(
        self,
        id: str,
        tenant_id: Optional[int] = None,
    ):
        r"""


        ### Description
        Get storage class configuration by id

        ### Parameters:
        ```python
        id: str
        tenant_id: Optional[int]
        ```
        id: unique identifier of the storage class configuration
        tenant_id: See model int for more information.

        ### Example:
        ```python
        StorageClassConfigurationApi(
            id='id_example',
                        tenant_id=56
        )
        ```
        """

        # Query params:
        query_params = [
            ("tenantId", tenant_id),
        ]
        resource_path = f"/api/v1/storage_class_configuration/{id}".replace("_", "-")
        method = "GET"
        return self._api_client.call_api(
            resource_path=resource_path, method=method, query_params=query_params
        )

    def list_storage_class_configuration(
        self,
        filter_by: Optional[List[str]] = None,
        sort_by: Optional[str] = None,
        sort_order: Optional[str] = None,
        offset: Optional[int] = None,
        limit: Optional[int] = None,
    ):
        r"""


        ### Description
        List storage class configurations

        ### Parameters:
        ```python
        filter_by: Optional[List[str]]
        sort_by: Optional[str]
        sort_order: Optional[str]
        offset: Optional[int]
        limit: Optional[int]
        ```
        filter_by: Filter results by a parameter. Use the format field-name operator value. Operators are &#x3D;&#x3D; Equals, !&#x3D; Not equals, &lt;&#x3D; Less than or equal, &gt;&#x3D; Greater than or equal, &#x3D;@ contains, !@ Does not contains, &#x3D;^ Starts with and &#x3D;$ Ends with. Dates are in ISO 8601 timestamp format and available for operators &#x3D;&#x3D;, !&#x3D;, &lt;&#x3D; and &gt;&#x3D;.
        sort_by: Sort results by a parameters.
        sort_order: Sort results in descending or ascending order. - Default: asc
        offset: The offset of the first item returned in the collection.
        limit: The maximum number of entries to return. - Default: 50

        ### Example:
        ```python
        StorageClassConfigurationApi(
            filter_by=['[\"name!=some-name\"]'],
                        sort_by='sort_by_example',
                        sort_order=asc,
                        offset=100,
                        limit=50
        )
        ```
        """

        # Query params:
        query_params = [
            ("filterBy", filter_by),
            ("sortBy", sort_by),
            ("sortOrder", sort_order),
            ("offset", offset),
            ("limit", limit),
        ]
        resource_path = f"/api/v1/storage_class_configuration".replace("_", "-")
        method = "GET"
        return self._api_client.call_api(
            resource_path=resource_path, method=method, query_params=query_params
        )

    def patch_storage_class_configuration_by_id(
        self,
        id: str,
        storage_class_configuration_patch_request: models.StorageClassConfigurationPatchRequest,
        tenant_id: Optional[int] = None,
    ):
        r"""


        ### Description
        Patch storage class configuration by id

        ### Parameters:
        ```python
        id: str
        storage_class_configuration_patch_request: StorageClassConfigurationPatchRequest
        tenant_id: Optional[int]
        ```
        id: unique identifier of the storage class configuration
        storage_class_configuration_patch_request: See model StorageClassConfigurationPatchRequest for more information.
        tenant_id: See model int for more information.

        ### Example:
        ```python
        StorageClassConfigurationApi(
            id='id_example',
                        storage_class_configuration_patch_request=runai.StorageClassConfigurationPatchRequest(),
                        tenant_id=56
        )
        ```
        """

        # Body params:
        body_params = storage_class_configuration_patch_request

        # Query params:
        query_params = [
            ("tenantId", tenant_id),
        ]
        resource_path = f"/api/v1/storage_class_configuration/{id}".replace("_", "-")
        method = "PATCH"
        return self._api_client.call_api(
            resource_path=resource_path,
            method=method,
            body=body_params,
            query_params=query_params,
        )

    def update_storage_class_configuration_by_id(
        self,
        id: str,
        storage_class_configuration_update_request: models.StorageClassConfigurationUpdateRequest,
        tenant_id: Optional[int] = None,
    ):
        r"""


        ### Description
        Update storage class configuration by id

        ### Parameters:
        ```python
        id: str
        storage_class_configuration_update_request: StorageClassConfigurationUpdateRequest
        tenant_id: Optional[int]
        ```
        id: unique identifier of the storage class configuration
        storage_class_configuration_update_request: See model StorageClassConfigurationUpdateRequest for more information.
        tenant_id: See model int for more information.

        ### Example:
        ```python
        StorageClassConfigurationApi(
            id='id_example',
                        storage_class_configuration_update_request=runai.StorageClassConfigurationUpdateRequest(),
                        tenant_id=56
        )
        ```
        """

        # Body params:
        body_params = storage_class_configuration_update_request

        # Query params:
        query_params = [
            ("tenantId", tenant_id),
        ]
        resource_path = f"/api/v1/storage_class_configuration/{id}".replace("_", "-")
        method = "PUT"
        return self._api_client.call_api(
            resource_path=resource_path,
            method=method,
            body=body_params,
            query_params=query_params,
        )
