from typing import Optional, List
from datetime import datetime

from runai import models
from runai.api.runai_api_service import RunaiAPIService, deprecated_message


class TokensApi(RunaiAPIService):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        self._api_client = api_client

    @deprecated_message()
    def app_token(
        self,
        app_token_request: Optional[models.AppTokenRequest] = None,
    ):
        r"""
        ## Deprecated endpoint, consider alternative method

        ### Description
        get application token

        ### Parameters:
        ```python
        app_token_request: AppTokenRequest
        ```
        app_token_request: See model AppTokenRequest for more information.

        ### Example:
        ```python
        TokensApi(
            app_token_request=runai.AppTokenRequest()
        )
        ```
        """

        # Body params:
        body_params = app_token_request

        resource_path = f"/v1/k8s/auth/oauth/apptoken".replace("_", "-")
        method = "POST"
        return self._api_client.call_api(
            resource_path=resource_path,
            method=method,
            body=body_params,
        )

    def grant_token(
        self,
        token_request: Optional[models.TokenRequest] = None,
    ):
        r"""


        ### Description
        Create an access token v1

        ### Parameters:
        ```python
        token_request: TokenRequest
        ```
        token_request: See model TokenRequest for more information.

        ### Example:
        ```python
        TokensApi(
            token_request={"grantType":"client_credentials","clientID":"clientID","clientSecret":"clientSecret"}
        )
        ```
        """

        # Body params:
        body_params = token_request

        resource_path = f"/api/v1/token".replace("_", "-")
        method = "POST"
        return self._api_client.call_api(
            resource_path=resource_path,
            method=method,
            body=body_params,
        )

    def grant_token_v2(
        self,
        grant_type: str,
        client_id: Optional[str] = None,
        client_secret: Optional[str] = None,
        username: Optional[str] = None,
        password: Optional[str] = None,
        refresh_token: Optional[str] = None,
        code: Optional[str] = None,
        redirect_uri: Optional[str] = None,
    ):
        r"""


        ### Description
        Create an access token v2

        ### Parameters:
        ```python
        grant_type: str
        client_id: str
        client_secret: str
        username: str
        password: str
        refresh_token: str
        code: str
        redirect_uri: str
        ```
        grant_type: The OAuth2 grant type that determines how the token will be issued.
        client_id: OAuth2 client identifier
        client_secret: OAuth2 client secret
        username: Resource owner username (for password grant)
        password: The password of the resource owner. Required only when using the password grant type.
        refresh_token: The refresh token used to obtain a new access token. Required only when using the refresh_token grant type.
        code: Authorization code issued by the authorization server. Used in the authorization_code grant to exchange the code for an access token.
        redirect_uri: The redirect URI used during the authorization request. Required for the authorization_code grant to validate the redirect destination.

        ### Example:
        ```python
        TokensApi(
            grant_type='grant_type_example',
                        client_id='client_id_example',
                        client_secret='client_secret_example',
                        username='username_example',
                        password='password_example',
                        refresh_token='refresh_token_example',
                        code='code_example',
                        redirect_uri='redirect_uri_example'
        )
        ```
        """

        resource_path = f"/api/v2/token".replace("_", "-")
        method = "POST"
        return self._api_client.call_api(
            resource_path=resource_path,
            method=method,
        )
