from typing import Optional, List
from datetime import datetime

from runai import models
from runai.api.runai_api_service import RunaiAPIService, deprecated_message


class UsersApi(RunaiAPIService):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        self._api_client = api_client

    def change_user_password(
        self,
        user_change_password_request: models.UserChangePasswordRequest,
    ):
        r"""


        ### Description
        change user password

        ### Parameters:
        ```python
        user_change_password_request: UserChangePasswordRequest
        ```
        user_change_password_request: Password to change

        ### Example:
        ```python
        UsersApi(
            user_change_password_request=runai.UserChangePasswordRequest()
        )
        ```
        """

        # Body params:
        body_params = user_change_password_request

        resource_path = f"/api/v1/me/password".replace("_", "-")
        method = "POST"
        return self._api_client.call_api(
            resource_path=resource_path,
            method=method,
            body=body_params,
        )

    def count_users(
        self,
        filter_by: Optional[List[str]] = None,
        search: Optional[str] = None,
    ):
        r"""


        ### Description
        Count users

        ### Parameters:
        ```python
        filter_by: Optional[List[str]]
        search: Optional[str]
        ```
        filter_by: Filter results by a parameter. Use the format field-name operator value. Operators are &lt;&#x3D; Less than or equal, &gt;&#x3D; Greater than or equal, &#x3D;@ contains. Dates are in ISO 8601 timestamp format and available for operators &lt;&#x3D;, &gt;&#x3D; and &#x3D;&#x3D;.
        search: Filter results by a free text search.

        ### Example:
        ```python
        UsersApi(
            filter_by=['[\"username=@test,lastLogin>=2024-09-24T00:00:00.00Z,isLocal==false\"]'],
                        search='test@run'
        )
        ```
        """

        # Query params:
        query_params = [
            ("filterBy", filter_by),
            ("search", search),
        ]
        resource_path = f"/api/v1/users/count".replace("_", "-")
        method = "GET"
        return self._api_client.call_api(
            resource_path=resource_path, method=method, query_params=query_params
        )

    def create_user(
        self,
        user_creation_request1: models.UserCreationRequest1,
    ):
        r"""


        ### Description
        Create a local user.

        ### Parameters:
        ```python
        user_creation_request1: UserCreationRequest1
        ```
        user_creation_request1: User object to create

        ### Example:
        ```python
        UsersApi(
            user_creation_request1=runai.UserCreationRequest1()
        )
        ```
        """

        # Body params:
        body_params = user_creation_request1

        resource_path = f"/api/v1/users".replace("_", "-")
        method = "POST"
        return self._api_client.call_api(
            resource_path=resource_path,
            method=method,
            body=body_params,
        )

    def delete_user_by_id(
        self,
        user_id: str,
    ):
        r"""


        ### Description
        Delete a user by id.

        ### Parameters:
        ```python
        user_id: str
        ```
        user_id: The id of the user

        ### Example:
        ```python
        UsersApi(
            user_id='user_id_example'
        )
        ```
        """

        resource_path = f"/api/v1/users/{user_id}".replace("_", "-")
        method = "DELETE"
        return self._api_client.call_api(
            resource_path=resource_path,
            method=method,
        )

    def get_user_by_id(
        self,
        user_id: str,
    ):
        r"""


        ### Description
        Get a user by id.

        ### Parameters:
        ```python
        user_id: str
        ```
        user_id: The id of the user

        ### Example:
        ```python
        UsersApi(
            user_id='user_id_example'
        )
        ```
        """

        resource_path = f"/api/v1/users/{user_id}".replace("_", "-")
        method = "GET"
        return self._api_client.call_api(
            resource_path=resource_path,
            method=method,
        )

    def get_users(
        self,
        filter: Optional[str] = None,
        filter_by: Optional[List[str]] = None,
        sort_by: Optional[models.UsersFilterSortFields] = None,
        sort_order: Optional[str] = None,
        offset: Optional[int] = None,
        limit: Optional[int] = None,
        search: Optional[str] = None,
    ):
        r"""


        ### Description
        Get users.

        ### Parameters:
        ```python
        filter: Optional[str]
        filter_by: Optional[List[str]]
        sort_by: Optional[models.UsersFilterSortFields]
        sort_order: Optional[str]
        offset: Optional[int]
        limit: Optional[int]
        search: Optional[str]
        ```
        filter: Filter results by user attribute.
        filter_by: Filter results by a parameter. Use the format field-name operator value. Operators are &lt;&#x3D; Less than or equal, &gt;&#x3D; Greater than or equal, &#x3D;@ contains. Dates are in ISO 8601 timestamp format and available for operators &lt;&#x3D;, &gt;&#x3D; and &#x3D;&#x3D;.
        sort_by: Sort results by a parameters.
        sort_order: Sort results in descending or ascending order. - Default: asc
        offset: The offset of the first item returned in the collection.
        limit: The maximum number of entries to return. - Default: 500
        search: Filter results by a free text search.

        ### Example:
        ```python
        UsersApi(
            filter='runai.is_local:true',
                        filter_by=['[\"username=@test,lastLogin>=2024-09-24T00:00:00.00Z,isLocal==false\"]'],
                        sort_by=runai.UsersFilterSortFields(),
                        sort_order=asc,
                        offset=100,
                        limit=500,
                        search='test@run'
        )
        ```
        """

        # Query params:
        query_params = [
            ("filter", filter),
            ("filterBy", filter_by),
            ("sortBy", sort_by),
            ("sortOrder", sort_order),
            ("offset", offset),
            ("limit", limit),
            ("search", search),
        ]
        resource_path = f"/api/v1/users".replace("_", "-")
        method = "GET"
        return self._api_client.call_api(
            resource_path=resource_path, method=method, query_params=query_params
        )

    def logout_user(
        self,
        user_id: str,
    ):
        r"""


        ### Description
        Logout a user.

        ### Parameters:
        ```python
        user_id: str
        ```
        user_id: The id of the user

        ### Example:
        ```python
        UsersApi(
            user_id='user_id_example'
        )
        ```
        """

        resource_path = f"/api/v1/users/{user_id}/logout".replace("_", "-")
        method = "POST"
        return self._api_client.call_api(
            resource_path=resource_path,
            method=method,
        )

    def reset_user_password(
        self,
        user_id: str,
    ):
        r"""


        ### Description
        Reset a user&#39;s password.

        ### Parameters:
        ```python
        user_id: str
        ```
        user_id: The id of the user

        ### Example:
        ```python
        UsersApi(
            user_id='user_id_example'
        )
        ```
        """

        resource_path = f"/api/v1/users/{user_id}/password".replace("_", "-")
        method = "POST"
        return self._api_client.call_api(
            resource_path=resource_path,
            method=method,
        )
